<div class="app-header">
    <div class="header-left">
        <img src="/static/logo.png" class="logo" alt="Heinlin Logo">
        <div>
            <div class="brand-title">Heinlin Ops</div>
            <div class="brand-sub">Field System</div>
        </div>
    </div>

    <div class="header-actions">
        <a href="/" class="button-link secondary small">Home</a>
        <a href="/schedule" class="button-link secondary small">Schedule</a>
        <a href="/properties/new" class="button-link small">Add Property</a>
    </div>
</div>