<!DOCTYPE html>
<html>
<head>
    <title>Pool Ops</title>
</head>
<body>

<h1>Clients</h1>

<ul>
    {% for client in clients %}
        <li>
            {{ client.name }}
            <ul>
                {% for prop in client.properties %}
                    <li>
                        <a href="/properties/{{ prop.id }}">
                            {{ prop.address }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>

</body>
</html>