<!DOCTYPE html>
<html>
<head>
    <title>Property</title>
</head>
<body>

<h1>{{ property.address }}</h1>

<p>Client: {{ property.client.name }}</p>

<a href="/properties/{{ property.id }}/service-stop/new">
    ➕ New Service Stop
</a>

<h2>Service Stops</h2>

<ul>
    {% for stop in property.service_stops %}
        <li>
            <a href="/service-stops/{{ stop.id }}">
                {{ stop.date }} - {{ stop.tech_name }}
            </a>
        </li>
    {% endfor %}
</ul>

</body>
</html>